Wrong edwards448 curve parameters

RFC 7748 section 4.2 defines Curve448, then says it is birationally equivalent to an unnamed Edwards curve, then says that both of those curves are 4-isogenous to another Edwards curve, which it defines as edwards448/Goldilocks.  python-rubenesque appears to use the parameters of the first unnamed Edwards curve instead of the actual edwards448 curve.

(Side nitpicks: "ed25519" and "ed448" are the names of signature algorithms, not curves, so should they really be aliases for edwards25519 and edwards448?  And conversely, should "Goldilocks" be an alias for edwards448?)
